<template>
  <div id="wrapper">
    <v-navigation-drawer
      app
      fixed
      clipped
      floating
      permanent
      class="blue-grey"
      width="100"
      v-model="drawer"
    >
      <template v-for="(item, i) in items">
        <v-card
          flat
          width="100px"
          height="100px"
          :value="item.active"
          :key="i"
          d-flex
          exact
          class="transparent justify-center align-center"
          :to="{name: item.link }"
          active-class="grey lighten-5 active-item"
        >
          <v-card-text class="text-xs-center">
            <div>
              <v-icon color="white" size="27" class="active-text">mdi-{{ item.icon }}</v-icon>
            </div>
            <div class="white--text caption mt-2 active-text">{{item.text}}</div>
          </v-card-text>
        </v-card>
      </template>
    </v-navigation-drawer>
    <v-toolbar flat color="white" height="50px" app absolute clipped-left>
      <img
        src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/b80ee48502389.560c652f3e482.jpg"
        alt
        width="100px"
        height="100%"
      >
      <v-toolbar-title>Dashboard</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn color="white" round class="light-blue--text">Tạo order</v-btn>
      <v-btn icon flat @click="logOut()">
        <v-icon>mdi-logout-variant</v-icon>
      </v-btn>
    </v-toolbar>
    <v-content>
      <v-container fluid fill-height grid-list-lg>
        <router-view></router-view>
      </v-container>
    </v-content>
  </div>
</template>
<script>
import { auth } from "../firebase";
export default {
  data() {
    return {
      drawer: null,
      items: [
        { icon: "view-dashboard", text: "Dashboard", link: "Home" },
        { icon: "food", text: "Thực đơn", link: "Menu" }
      ]
    };
  },
  methods: {
    logOut() {
      auth.signOut().then(res => {
        this.$store.dispatch("setToken", "");
        this.$router.push({ name: "Login" });
      });
    }
  }
};
</script>

<style>
.active-item .active-text {
  color: #03a9f4 !important;
}
.v-toolbar__content {
  padding-left: 0px !important;
}
</style>
