<template>
  <v-layout row wrap>
    <v-flex xs7>
      <v-layout row wrap>
        <v-flex d-flex xs12>
          <v-card color="transparent" flat>
            <v-text-field
              label="Nhập tìm kiếm bàn | Mã orders"
              solo
              flat
              hide-details
              append-icon="mdi-magnify"
            ></v-text-field>
          </v-card>
        </v-flex>
        <v-flex xs12 d-flex>
          <v-card class="text-xs-right transparent caption blue-grey--text py-3" flat>
            <span>
              <v-icon size="15" color="amber lighten-1" class="mr-2">mdi-square</v-icon>Thanh toán (
              <span class="grey--text text--darken-4 font-weight-bold">4</span> )
            </span>
            <span class="ml-4">
              <v-icon size="15" color="light-blue" class="mr-2">mdi-square</v-icon>Xác nhận (
              <span class="grey--text text--darken-4 font-weight-bold">4</span> )
            </span>
          </v-card>
        </v-flex>
        <v-flex d-flex xs3 md2 v-for="i in 6" :key="'items'+i">
          <v-card height="100px" width="100px" flat style="border:solid 1px #EEEEEE">
            <div class="amber lighten-1 d-flex align-center text-xs-center" style="height:50px">
              <div class="white--text font-weight-bold headline">17</div>
            </div>
            <div class="d-flex align-center text-xs-center" style="height:50px">
              <div class="blue-grey--text font-weight-medium subheading">SP009</div>
            </div>
          </v-card>
        </v-flex>
        <v-flex xs12 md6 d-flex>
          <v-combobox v-model="select" :items="items" solo flat hide-details label="Trạng thái"></v-combobox>
        </v-flex>
        <v-flex xs12 md6 d-flex></v-flex>
        <v-flex d-flex xs3 md2 v-for="i in 12" :key="'item'+i">
          <v-card height="100px" width="100px" flat style="border:solid 1px #EEEEEE">
            <div class="amber lighten-1 d-flex align-center text-xs-center" style="height:50px">
              <div class="white--text font-weight-bold headline">17</div>
            </div>
            <div class="d-flex align-center text-xs-center" style="height:50px">
              <div class="blue-grey--text font-weight-medium subheading">SP009</div>
            </div>
          </v-card>
        </v-flex>
      </v-layout>
    </v-flex>
    <v-flex xs5>
      <v-card class="green">Notifications</v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import { db } from "../firebase";
export default {
  data() {
    return {
      select: "",
      items: []
    };
  },
  methods: {
    getUser() {
      db.collection("Users")
        .get()
        .then(querySnapshot => {
          querySnapshot.forEach(doc => {
            console.log(doc.id, " => ", doc.data());
          });
        })
        .catch(error => {
          console.log("Error getting document:", error);
        });
    }
  },
  mounted() {
    this.getUser();
  }
};
</script>
 
<style>
</style>
