<template>
  <v-container fill-height fluid class="pa-0">
    <v-layout row>
      <v-flex xs5 class="light-blue">
        <v-layout align-center justify-end fill-height>
          <v-flex xs6>
            <v-card class="light-blue elevation-18" height="500px"></v-card>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex xs7>
        <v-layout align-center justify-start fill-height>
          <v-flex xs10 md8>
            <v-card class="elevation-18 text-xs-center align-center" height="500px">
              <v-card-text>
                <div
                  class="headline font-weight-bold py-5"
                  style="letter-spacing: 5px!important;"
                >ĐĂNG NHẬP</div>
                <v-text-field label="Tên đăng nhập" id="id" v-model="username"></v-text-field>
                <v-text-field label="Mật khẩu" id="id" v-model="password"></v-text-field>
                <v-btn color="success" @click="loginGoogle()">Đăng nhập bằng google</v-btn>
                <v-btn color="light-blue" block depressed dark @click="login()">Đăng nhập</v-btn>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import { auth } from "../firebase";
import Firebase from "firebase";

export default {
  data() {
    return {
      username: "",
      password: "",
      users: {}
    };
  },
  methods: {
    login() {
      auth
        .signInWithEmailAndPassword(this.username, this.password)
        .then(response => {
          console.log("response", response);
          this.getToken();
        });
    },
    getToken() {
      auth.currentUser
        .getIdToken(true)
        .then(idToken => {
          this.$store.dispatch("setToken", idToken);
          this.$router.push({ name: "Home" });
        })
        .catch(function(error) {});
    },
    loginGoogle() {
      let provider = new Firebase.auth.GoogleAuthProvider();
      provider.addScope("https://www.googleapis.com/auth/contacts.readonly");
      console.log("provider", provider);
      console.log("location.protocol: ", location.protocol);
      auth.signInWithRedirect(provider);
      console.log("qua đây");

      auth
        .getRedirectResult()
        .then(result => {
          console.log("Thành cong", result);
        })
        .catch(error => {
          console.log("error", error);
        });
    }
  }
};
</script>

<style>
</style>
